name: Rf Test BJH CI
on:
  push:
    branches: [ ]
  pull_request:
    branches: [ master ]
     
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Output results
      run: |
        ls -l

    - name: esp-idf build
      uses: espressif/esp-idf-ci-action@main
      with:
        esp_idf_version: v5.4
        target: esp32s3
        path: '.'
        
    - name: Build analysis
      run: |
        echo "List build artefacts"
        ls -l build/
        echo "print partition table"
        esp-idf.py partition-table
    
    - name: Store Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Rf-Test-BJH.bin 
        path: |
          build/Rf-Test-BJH.bin

  qemu:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: espressif/qemu@esp-develop
