name: Rf Test BJH CI
on:
  push:
    branches: [ ]
  pull_request:
    branches: [ master ]
     
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Output results
      run: |
        ls -l

    - name: esp-idf build
      uses: espressif/esp-idf-ci-action@main
      with:
        esp_idf_version: v5.3.2
        target: esp32s3
        path: '.'
        
    - name: List build artefacts
      run: |
        ls -l build/
    
    - name: Store Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ufo-esp32.bin 
        path: |
          build/ufo-esp32.bin
